{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Instagram</title>
  <link rel="icon" href="https://www.instagram.com/favicon.ico" type="icon/images">
  {{ form.media }}
</head>
{% block content %}
{{block.super}}
<link rel="icon" href="https://www.instagram.com/favicon.ico" type="icon/images">

<style>
  #eachimage {
    min-height: 100px;
    /* min-width: 80px; */
  }
</style>


<div class="container">
    {% for image in images %}
      <div class="col-md-3">
           <div class="card border-secondary"><a href="{% url 'image' image.id %}">
            <img src="{{image.image.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt="" class="img-responsive"
              id="eachimage"></a>
          {% autoescape on %}
          <p style="color: ivory" ><strong> Neighbourhood :</strong> {{ image.title | safe }}</p>
          {% endautoescape %}
          <hr>
        </div>
    </div>
{% endfor %}

</div>
<div class='footer'>
  <br>
<div class="container">

  <form action="{%url 'index'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe">
  </form>
</div>
<footer>
  <div class="container">
    <p>&copy; Instagram Clone 2019. All Rights Reserved.</p>
    
  </div>
</footer>
</div>
</div>
{% endblock %}